    <h2 class="welcome">Bienvenido, {{firstName}} {{lastName}}</h2>
    <h3 class="email">Email: {{email}}</h3>
    <p class="age">Edad: {{age}}</p>
    <button type="submit" onclick="location.href='/views'">Logout</button>
