    <form id="form">
        <label>Product:</label><input type="text" name="name" id="name">
        <label>Price: </label><input type="text" name="price" id="price">
        <text>Description:</text><input type="text" name="description" id="description">
        <input type="submit" value="Send">
    </form>

<div id="products">
    <h2>All Products</h2>
    {{#each products}}
    <ul>
        <li>{{title}}</li>
        <li>{{price}}</li>
        <li>{{description}}</li>      
    </ul>
    {{/each}}
    <h2>New Products</h2>
    <ul id="new-products">
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>